FTP MLSD reader should read all lines and wait for end of list

Current implementation fails to correctly handle cases, where the Ftp server responds with multiple data lines for a `Mlst`-request.

Transcript:
```
> MLST 
< 250- List
550
< 250 End of List
```

In order to be compliant with [RFC 3659 Section 7.2](https://www.rfc-editor.org/rfc/rfc3659#section-7.2) our read-implementation has to buffer everything between "250-" and "250":

      control-response = "250-" [ response-message ] CRLF
                         1*( SP entry CRLF )
                         "250" [ SP response-message ] CRLF