Files listed in PROPFIND with brackets in the name don't appear

**Describe the bug**
Files listed in PROPFIND with brackets in the name don't appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Host a WebDAV server with file listing enabled and a file having brackets in its name.
2. Browse the folder containing that file.
3. See that it is missing.

**Expected behavior**
The file would be shown as expected.

**Screenshots**
```xml
$ curl -iX PROPFIND https://█.███.██/ --upload-file - -H "Depth: 1" <<end                                                                      
<?xml version="1.0"?>
<a:propfind xmlns:a="DAV:">
<a:prop><a:resourcetype/></a:prop>
</a:propfind>
end
HTTP/2 207 
server: nginx
date: Thu, 10 Nov 2022 19:39:59 GMT
content-type: text/xml; charset=utf-8
content-length: 1186

<?xml version="1.0" encoding="utf-8" ?>
<D:multistatus xmlns:D="DAV:">
<D:response>
<D:href>/</D:href>
<D:propstat>
<D:prop>
<D:resourcetype><D:collection/></D:resourcetype>
</D:prop>
<D:status>HTTP/1.1 200 OK</D:status>
</D:propstat>
</D:response>
<D:response>
<D:href>/example[a].txt</D:href>
<D:propstat>
<D:prop>
<D:resourcetype></D:resourcetype>
</D:prop>
<D:status>HTTP/1.1 200 OK</D:status>
</D:propstat>
</D:response>
<D:response>
<D:href>/sources/</D:href>
<D:propstat>
<D:prop>
<D:resourcetype><D:collection/></D:resourcetype>
</D:prop>
<D:status>HTTP/1.1 200 OK</D:status>
</D:propstat>
</D:response>
<D:response>
<D:href>/complete/</D:href>
<D:propstat>
<D:prop>
<D:resourcetype><D:collection/></D:resourcetype>
</D:prop>
<D:status>HTTP/1.1 200 OK</D:status>
</D:propstat>
</D:response>
<D:response>
<D:href>/in/</D:href>
<D:propstat>
<D:prop>
<D:resourcetype><D:collection/></D:resourcetype>
</D:prop>
<D:status>HTTP/1.1 200 OK</D:status>
</D:propstat>
</D:response>
<D:response>
<D:href>/incomplete/</D:href>
<D:propstat>
<D:prop>
<D:resourcetype><D:collection/></D:resourcetype>
</D:prop>
<D:status>HTTP/1.1 200 OK</D:status>
</D:propstat>
</D:response>
</D:multistatus>
```
<img width="1076" alt="Screen Shot 2022-11-10 at 11 40 48" src="https://user-images.githubusercontent.com/9157412/201190718-d3380f0f-e9c2-448e-b972-8b86a514afc8.png">


**Desktop (please complete the following information):**
 - OS: macOS
 - Version 8.4.5

**Log Files**
relevant lines:
`2022-11-10 12:23:48,011 [Thread-35] WARN  ch.cyberduck.core.dav.DAVClient - Ignore resource with invalid URI /example[a].txt`


This is because square brackets are [not allowed](https://www.rfc-editor.org/rfc/rfc3986.txt) in URIs 

>  A host identified by an Internet Protocol literal address, version 6 [RFC3513] or later, is distinguished by enclosing the IP literal within square brackets ("[" and "]").  This is the only place where square bracket characters are allowed in the URI syntax.

and `href` in the DAV namespace is [defined](https://www.ietf.org/rfc/rfc4437.txt) as

>  The DAV:href element is defined in [RFC2518] (Section 12.3) and MUST contain either a URI or a relative-ref (see [RFC3986], Sections 3 and 4.2).

Are they supposed to be uri-encoded? If so, I’ll file an issue with nginx instead.

problem is with https://github.com/arut/nginx-dav-ext-module/issues/45